#simple-click-to-call-form p#simple-click-to-call-description { margin-bottom:10px; }
#simple-click-to-call-form label { margin-right:5px; }
#simple-click-to-call-form input { width:auto; margin-right:5px; }
#simple-click-to-call-form #simple-click-to-call-message p { display:inline-block; }